# coding: utf-8

"""
    Telstra Programmable Network API

    Telstra Programmable Network is a self-provisioning platform that allows its users to create on-demand connectivity services between multiple end-points and add various network functions to those services. Programmable Network enables to connectivity to a global ecosystem of networking services as well as public and private cloud services. Once you are connected to the platform on one or more POPs (points of presence), you can start creating those services based on the use case that you want to accomplish. The Programmable Network API is available to all customers who have registered to use the Programmable Network. To register, please contact your account representative.  # noqa: E501

    OpenAPI spec version: 2.4.2
    Contact: pnapi-support@team.telstra.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from TelstraTPN.api_client import ApiClient


class ExchangeApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def account_profile_exchange_get(self, **kwargs):  # noqa: E501
        """Get the current account&#39;s Exchange profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.account_profile_exchange_get(async=True)
        >>> result = thread.get()

        :param async bool
        :return: InlineResponse20012
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.account_profile_exchange_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.account_profile_exchange_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def account_profile_exchange_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get the current account&#39;s Exchange profile  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.account_profile_exchange_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: InlineResponse20012
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method account_profile_exchange_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/account/profile/exchange/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20012',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def exchange_exprovuuid_get(self, exprovuuid, **kwargs):  # noqa: E501
        """Exchange provider details  # noqa: E501

        Get information about the specified Exchange provider  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.exchange_exprovuuid_get(exprovuuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str exprovuuid: Unique identifier representing a specific exchange provider (required)
        :return: ExchangeProvider
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.exchange_exprovuuid_get_with_http_info(exprovuuid, **kwargs)  # noqa: E501
        else:
            (data) = self.exchange_exprovuuid_get_with_http_info(exprovuuid, **kwargs)  # noqa: E501
            return data

    def exchange_exprovuuid_get_with_http_info(self, exprovuuid, **kwargs):  # noqa: E501
        """Exchange provider details  # noqa: E501

        Get information about the specified Exchange provider  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.exchange_exprovuuid_get_with_http_info(exprovuuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str exprovuuid: Unique identifier representing a specific exchange provider (required)
        :return: ExchangeProvider
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['exprovuuid']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method exchange_exprovuuid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'exprovuuid' is set
        if ('exprovuuid' not in params or
                params['exprovuuid'] is None):
            raise ValueError("Missing the required parameter `exprovuuid` when calling `exchange_exprovuuid_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'exprovuuid' in params:
            path_params['exprovuuid'] = params['exprovuuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/exchange/{exprovuuid}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ExchangeProvider',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def exchange_get(self, **kwargs):  # noqa: E501
        """List all Exchange providers, with POPs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.exchange_get(async=True)
        >>> result = thread.get()

        :param async bool
        :return: list[ExchangeProvider]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.exchange_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.exchange_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def exchange_get_with_http_info(self, **kwargs):  # noqa: E501
        """List all Exchange providers, with POPs  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.exchange_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: list[ExchangeProvider]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method exchange_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/exchange/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[ExchangeProvider]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def visitcard_get(self, **kwargs):  # noqa: E501
        """Get list of Visit Cards  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.visitcard_get(async=True)
        >>> result = thread.get()

        :param async bool
        :return: list[Visitcard]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.visitcard_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.visitcard_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def visitcard_get_with_http_info(self, **kwargs):  # noqa: E501
        """Get list of Visit Cards  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.visitcard_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: list[Visitcard]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method visitcard_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/visitcard/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Visitcard]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def visitcard_visitcarduuid_get(self, visitcarduuid, **kwargs):  # noqa: E501
        """View details of the specified Visit Card  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.visitcard_visitcarduuid_get(visitcarduuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str visitcarduuid: Unique identifier representing a specific exchange visit card (provider description) (required)
        :return: Visitcard
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.visitcard_visitcarduuid_get_with_http_info(visitcarduuid, **kwargs)  # noqa: E501
        else:
            (data) = self.visitcard_visitcarduuid_get_with_http_info(visitcarduuid, **kwargs)  # noqa: E501
            return data

    def visitcard_visitcarduuid_get_with_http_info(self, visitcarduuid, **kwargs):  # noqa: E501
        """View details of the specified Visit Card  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.visitcard_visitcarduuid_get_with_http_info(visitcarduuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str visitcarduuid: Unique identifier representing a specific exchange visit card (provider description) (required)
        :return: Visitcard
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['visitcarduuid']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method visitcard_visitcarduuid_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'visitcarduuid' is set
        if ('visitcarduuid' not in params or
                params['visitcarduuid'] is None):
            raise ValueError("Missing the required parameter `visitcarduuid` when calling `visitcard_visitcarduuid_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'visitcarduuid' in params:
            path_params['visitcarduuid'] = params['visitcarduuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/visitcard/{visitcarduuid}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Visitcard',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def visitcard_visitcarduuid_put(self, visitcarduuid, **kwargs):  # noqa: E501
        """Update details of the specified Visit Card  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.visitcard_visitcarduuid_put(visitcarduuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str visitcarduuid: Unique identifier representing a specific exchange visit card (provider description) (required)
        :param Visitcard unknown_base_type:
        :return: Visitcard
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.visitcard_visitcarduuid_put_with_http_info(visitcarduuid, **kwargs)  # noqa: E501
        else:
            (data) = self.visitcard_visitcarduuid_put_with_http_info(visitcarduuid, **kwargs)  # noqa: E501
            return data

    def visitcard_visitcarduuid_put_with_http_info(self, visitcarduuid, **kwargs):  # noqa: E501
        """Update details of the specified Visit Card  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.visitcard_visitcarduuid_put_with_http_info(visitcarduuid, async=True)
        >>> result = thread.get()

        :param async bool
        :param str visitcarduuid: Unique identifier representing a specific exchange visit card (provider description) (required)
        :param Visitcard unknown_base_type:
        :return: Visitcard
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['visitcarduuid', 'unknown_base_type']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method visitcard_visitcarduuid_put" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'visitcarduuid' is set
        if ('visitcarduuid' not in params or
                params['visitcarduuid'] is None):
            raise ValueError("Missing the required parameter `visitcarduuid` when calling `visitcard_visitcarduuid_put`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'visitcarduuid' in params:
            path_params['visitcarduuid'] = params['visitcarduuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'unknown_base_type' in params:
            body_params = params['unknown_base_type']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/visitcard/{visitcarduuid}/', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Visitcard',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
