# coding: utf-8

"""
    Telstra Programmable Network API

    Telstra Programmable Network is a self-provisioning platform that allows its users to create on-demand connectivity services between multiple end-points and add various network functions to those services. Programmable Network enables to connectivity to a global ecosystem of networking services as well as public and private cloud services. Once you are connected to the platform on one or more POPs (points of presence), you can start creating those services based on the use case that you want to accomplish. The Programmable Network API is available to all customers who have registered to use the Programmable Network. To register, please contact your account representative.  # noqa: E501

    OpenAPI spec version: 2.4.2
    Contact: pnapi-support@team.telstra.com
    Generated by: https://openapi-generator.tech
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from TelstraTPN.api_client import ApiClient


class StatisticsApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get(self, endpointuuid, startdate, enddate, **kwargs):  # noqa: E501
        """Get statistics for endpoint  # noqa: E501

        Get statistics related to the specified endpoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get(endpointuuid, startdate, enddate, async=True)
        >>> result = thread.get()

        :param async bool
        :param str endpointuuid: Unique identifier representing a specific endpoint (required)
        :param str startdate: Start date for statistics query (required)
        :param str enddate: End date for statistics query (required)
        :return: list[InlineResponse20018]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get_with_http_info(endpointuuid, startdate, enddate, **kwargs)  # noqa: E501
        else:
            (data) = self.inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get_with_http_info(endpointuuid, startdate, enddate, **kwargs)  # noqa: E501
            return data

    def inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get_with_http_info(self, endpointuuid, startdate, enddate, **kwargs):  # noqa: E501
        """Get statistics for endpoint  # noqa: E501

        Get statistics related to the specified endpoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get_with_http_info(endpointuuid, startdate, enddate, async=True)
        >>> result = thread.get()

        :param async bool
        :param str endpointuuid: Unique identifier representing a specific endpoint (required)
        :param str startdate: Start date for statistics query (required)
        :param str enddate: End date for statistics query (required)
        :return: list[InlineResponse20018]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['endpointuuid', 'startdate', 'enddate']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'endpointuuid' is set
        if ('endpointuuid' not in params or
                params['endpointuuid'] is None):
            raise ValueError("Missing the required parameter `endpointuuid` when calling `inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get`")  # noqa: E501
        # verify the required parameter 'startdate' is set
        if ('startdate' not in params or
                params['startdate'] is None):
            raise ValueError("Missing the required parameter `startdate` when calling `inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get`")  # noqa: E501
        # verify the required parameter 'enddate' is set
        if ('enddate' not in params or
                params['enddate'] is None):
            raise ValueError("Missing the required parameter `enddate` when calling `inventory_links_stats_endpoint_endpointuuid_startdate_enddate_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'endpointuuid' in params:
            path_params['endpointuuid'] = params['endpointuuid']  # noqa: E501
        if 'startdate' in params:
            path_params['startdate'] = params['startdate']  # noqa: E501
        if 'enddate' in params:
            path_params['enddate'] = params['enddate']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/inventory/links-stats/endpoint/{endpointuuid}/{startdate}/{enddate}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20018]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get(self, endpointuuid, startdate, enddate, **kwargs):  # noqa: E501
        """Get state statistics for endpoint  # noqa: E501

        Get statistics related to the state of the specified endpoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get(endpointuuid, startdate, enddate, async=True)
        >>> result = thread.get()

        :param async bool
        :param str endpointuuid: Unique identifier representing a specific endpoint (required)
        :param str startdate: Start date for statistics query (required)
        :param str enddate: End date for statistics query (required)
        :return: list[InlineResponse20020]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get_with_http_info(endpointuuid, startdate, enddate, **kwargs)  # noqa: E501
        else:
            (data) = self.inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get_with_http_info(endpointuuid, startdate, enddate, **kwargs)  # noqa: E501
            return data

    def inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get_with_http_info(self, endpointuuid, startdate, enddate, **kwargs):  # noqa: E501
        """Get state statistics for endpoint  # noqa: E501

        Get statistics related to the state of the specified endpoint  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get_with_http_info(endpointuuid, startdate, enddate, async=True)
        >>> result = thread.get()

        :param async bool
        :param str endpointuuid: Unique identifier representing a specific endpoint (required)
        :param str startdate: Start date for statistics query (required)
        :param str enddate: End date for statistics query (required)
        :return: list[InlineResponse20020]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['endpointuuid', 'startdate', 'enddate']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'endpointuuid' is set
        if ('endpointuuid' not in params or
                params['endpointuuid'] is None):
            raise ValueError("Missing the required parameter `endpointuuid` when calling `inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get`")  # noqa: E501
        # verify the required parameter 'startdate' is set
        if ('startdate' not in params or
                params['startdate'] is None):
            raise ValueError("Missing the required parameter `startdate` when calling `inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get`")  # noqa: E501
        # verify the required parameter 'enddate' is set
        if ('enddate' not in params or
                params['enddate'] is None):
            raise ValueError("Missing the required parameter `enddate` when calling `inventory_links_stats_endpointstate_endpointuuid_startdate_enddate_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'endpointuuid' in params:
            path_params['endpointuuid'] = params['endpointuuid']  # noqa: E501
        if 'startdate' in params:
            path_params['startdate'] = params['startdate']  # noqa: E501
        if 'enddate' in params:
            path_params['enddate'] = params['enddate']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/inventory/links-stats/endpointstate/{endpointuuid}/{startdate}/{enddate}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20020]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def inventory_links_stats_flow_linkid_startdate_enddate_get(self, linkid, startdate, enddate, **kwargs):  # noqa: E501
        """Get statistics for flow  # noqa: E501

        Get statistics related to the specified flow  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.inventory_links_stats_flow_linkid_startdate_enddate_get(linkid, startdate, enddate, async=True)
        >>> result = thread.get()

        :param async bool
        :param str linkid: Unique identifier representing a specific link (required)
        :param str startdate: Start date for statistics query (required)
        :param str enddate: End date for statistics query (required)
        :return: list[InlineResponse20019]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.inventory_links_stats_flow_linkid_startdate_enddate_get_with_http_info(linkid, startdate, enddate, **kwargs)  # noqa: E501
        else:
            (data) = self.inventory_links_stats_flow_linkid_startdate_enddate_get_with_http_info(linkid, startdate, enddate, **kwargs)  # noqa: E501
            return data

    def inventory_links_stats_flow_linkid_startdate_enddate_get_with_http_info(self, linkid, startdate, enddate, **kwargs):  # noqa: E501
        """Get statistics for flow  # noqa: E501

        Get statistics related to the specified flow  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.inventory_links_stats_flow_linkid_startdate_enddate_get_with_http_info(linkid, startdate, enddate, async=True)
        >>> result = thread.get()

        :param async bool
        :param str linkid: Unique identifier representing a specific link (required)
        :param str startdate: Start date for statistics query (required)
        :param str enddate: End date for statistics query (required)
        :return: list[InlineResponse20019]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['linkid', 'startdate', 'enddate']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method inventory_links_stats_flow_linkid_startdate_enddate_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'linkid' is set
        if ('linkid' not in params or
                params['linkid'] is None):
            raise ValueError("Missing the required parameter `linkid` when calling `inventory_links_stats_flow_linkid_startdate_enddate_get`")  # noqa: E501
        # verify the required parameter 'startdate' is set
        if ('startdate' not in params or
                params['startdate'] is None):
            raise ValueError("Missing the required parameter `startdate` when calling `inventory_links_stats_flow_linkid_startdate_enddate_get`")  # noqa: E501
        # verify the required parameter 'enddate' is set
        if ('enddate' not in params or
                params['enddate'] is None):
            raise ValueError("Missing the required parameter `enddate` when calling `inventory_links_stats_flow_linkid_startdate_enddate_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'linkid' in params:
            path_params['linkid'] = params['linkid']  # noqa: E501
        if 'startdate' in params:
            path_params['startdate'] = params['startdate']  # noqa: E501
        if 'enddate' in params:
            path_params['enddate'] = params['enddate']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/inventory/links-stats/flow/{linkid}/{startdate}/{enddate}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse20019]',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
